# Python Basics for Data Science (IBM)

## Module 1 - Python Basics
###### 1.1. Learning Objectives. 
###### 1.2. Your First Program.
###### 1.3. Types.
###### 1.4. Expressions and Variables.
###### 1.5. Lab - Write your first Python code!
###### 1.6. String Operations.
###### 1.7. Lab - String Operations.
###### 1.8. Review Questions.

### 1.1. Learning Objectives

In this lesson you will learn the basics of Python and you will write your first Python program:

* Types
* Expressions and Variables
* String Operations

### 1.2. Your First Program

In [1]:
# print Hello World! (comentário)
print('Hello World!')

Hello World!

In [2]:
print("Hello\nWorld!")

Hello
World!

### 1.3. Types

Types:
* int -> integer
* float -> real number
* str -> text
* bool -> boolean (True or False) Note: case sensitive

In [3]:
type(11)

int

In [4]:
type(21.453)

float

In [5]:
type("dog")

str

In [6]:
print(type(11))
print(type(21.453))
print(type("dog"))

<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
#convert int to float
print(float(2))

#convert float to int
print(int(2.1))
print(int(2.9))

#convert string to int
print(int('7'))

#convert int to string
print(str(4))

#convert float to string
print(str(3.343))

2.0
2
2
7
4
3.343

In [8]:
#convert a bool to int
print(int(True))
print(int(False))

#convert a int to bool
print(bool(1))
print(bool(0))

1
0
True
False

### 1.4. Expressions and Variables

In [9]:
# Mathematical Operations

print(43+60+16+41)
print(60-50)
print(50-60)
print(5*5)
print(25/5)
print(25/6)
print(25//6)
print(2/3)
print(2//3)
print(30+2*60)
print((30+2)*60)

160
10
-10
25
5.0
4.166666666666667
4
0.6666666666666666
0
150
1920

In [10]:
# Variables

vX1 = 24
print(vX1)

vY1 = 5-3
vY2 = 40/10
vY3 = vY1 * vY2
print(vY3)

vZ1 = 10
vZ1 = vZ1 + 1
print(vZ1)

24
8.0
11

### 1.5. Lab - Write your first Python code!

###### Video sobre Jupyter Notebooks:
https://www.youtube.com/watch?v=A5YyoCKxEOU

### 1.6. String Operations

In [11]:
vName = "Helder Ferreira"

print(vName[0])
print(vName[1])
print(vName[2])
print("")

print(vName[-1])
print(vName[-2])
print(vName[-3])
print("")

print(vName[0:6])
print("")

print(vName[::2])
print(vName[::3])
print(vName[0:6:2])
print(vName[0:6:3])

H
e
l

a
r
i

Helder

Hle eria
Hd ri
Hle
Hd

In [12]:
# Numero de caracteres
print(len(vName))

#Concatenar
print("Helder " + "Ferreira")
print(vName + " é um baterista!")

# Alterar valor de uma string
vName = vName + " é introvertido"
print(vName)

# Multiplicar uma string
print(3 * "Lisboa ")

15
Helder Ferreira
Helder Ferreira é um baterista!
Helder Ferreira é introvertido
Lisboa Lisboa Lisboa

In [13]:
# \n (new line)
print("Eu gosto de \n bolachas")

# \t (tab)
print("Eu gosto de \t café")

# \\ (simbolo \)
print("Eu gosto de \\ pudim")
print(r"Eu gosto de \ pudim")

Eu gosto de
 bolachas
Eu gosto de 	 café
Eu gosto de \ pudim
Eu gosto de \ pudim

In [14]:
# Methods
vOtherName = "Maria João"

print(vOtherName)
print(vOtherName.upper())
print(vOtherName.lower())
print("")

vNameUpper = vOtherName.upper()
vNameLower = vOtherName.lower()
print(vNameUpper)
print(vNameLower)
print("")

vNameReplace = vOtherName.replace("João","Luís")
print(vNameReplace)
print("")

print(vOtherName.find("M"))
print(vOtherName.find("Maria"))
print(vOtherName.find("ria"))
print(vOtherName.find("ão"))
print(vOtherName.find("h"))
print(vOtherName.find("m"))

Maria João
MARIA JOÃO
maria joão

MARIA JOÃO
maria joão

Maria Luís

0
0
2
8
-1
-1

### 1.7. Lab - String Operations

### 1.8. Review Questions